capstone==5.0.3
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
cli-formatter==1.2.0
colorclass==2.2.2
cryptography==43.0.3
Deprecated==1.2.14
easygui==0.98.3
idna==3.10
Levenshtein==0.26.1
msoffcrypto-tool==5.4.2
olefile==0.47
oletools==0.60.2
pcodedmp==1.2.6
pefile==2024.8.26
publicsuffixlist==1.0.2.20241107
py-ewf-mount==1.0.0
pycparser==2.22
pymisp==2.5.1
pyparsing==3.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
RapidFuzz==3.10.1
requests==2.32.3
six==1.16.0
tk==0.1.0
urllib3==2.2.3
wrapt==1.16.0
